@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@400;500;600;700&display=swap');

:root {
  --color-brand-accent: #c49a71;
  --color-brand-accent-dark: #a98058;
  /* --color-brand-dark: #127971; */
  --color-brand-dark: #D8AA8C;
  --color-brand-gray: #bbbbbb;
  --font-serif: "Times New Roman", Times, serif;
  --font-sans: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  color: #333333;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
